<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SolomonCookBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SolomonCookBook.styles.css" asp-append-version="true" />

</head>
<body style="width:100%;" class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg " style="background-color:#FECB00;">
            <a class="navbar-brand" href="#" style="color:black;">CookBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav topnav-centered">
                    <li class="nav-item active">
                        <a class="nav-link nav-link-design" href="#" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-design" asp-action="Recepies" >Recepies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-design" asp-action="Shop">Shop</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-design" asp-action="About" >About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-design" href="#" >Contact</a>
                    </li>
                </ul>
            </div>
            <partial name="Partialnav"/>
            
        </nav>
        
    </header>
    <div class="container">
         @RenderBody()
    </div>
           
    
  
    <partial name="Footer"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
