<div class="row" style="background-color:#FECB00; min-height:300px;">
    <div class="col-md-4" style="color:white;">
        <h1>CookBook</h1>
    </div>
    <div class="col-md-4">
        <h1>Contact</h1>
    </div>
    <div class="col-md-4">
        <h1>Follow us on</h1>
        <div class="ftr-links-social"> 
            <i class="fa fa-facebook"></i>
        </div>
        <div style="background-color:black; color:#FECB00; display:inline-block;"> 
            <i class="fa fa-facebook" style=""></i>
        </div>

    </div>
</div>