@{
    Layout="_MainLayout";
}


<div class="div1">
    <div>
        <h3 style="text-align:left; color:#FECB00;" >let's</h3>
        <h1 style="color:#FECB00">COOK</h1>
        <h3 style="color:#FECB00">the best cooking guide ever</h3>
        <button class="btn1">Explore</button>
    </div>
</div>
<!-- Todays Special Section -->

<div>
    <div>
        <div style="display:inline-block;">
            <h1>Today's Special</h1>
             <p>Cooking from soul with today's free recepie guide</p>
        </div>
        
        <div style="display: inline-block;">   
            <i class="fa fa-arrow-left"></i>
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
    
    <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" width="300px" height="300px"/>
    <img src="../Images/cooker-king-82qQj-MuaPs-unsplash.jpg" width="300px" height="300px"/>
</div>

<div style="background-color: black;">
    <div style="display:inline-block;">
        
        <div style="color:yellow; display:inline-block;">
            <h1>
                Featured Recepies
            </h1>
            <p>Enhance your cooking eperience with featured recepies</p>
        </div>
        <div style="display:inline-block;">
            <button class="btn2">All Recepies</button>
        </div>
        <div>
            <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" width="300px" height="300px"/>
            <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" width="300px" height="300px"/>
        </div>     

    </div>

    <div style="background-color: yellow; display:inline-block;  min-width:400px;">
        <div >
            <h1>Trending</h1>
        </div>

        <div>
            <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
            <div style="display: inline-block;">
                <p>Recepie Name</p>
                <p >15 minutes</p>
            </div>
        </div>

        <div>
            <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
            <div style="display: inline-block;">
                <p>Recepie Name</p>
                <p >15 minutes</p>
            </div>
        </div>
        <div>
            <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
            <div style="display: inline-block;">
                <p>Recepie Name</p>
                <p >15 minutes</p>
            </div>
        </div>
    </div>

</div>
    




@* Video Recepies Section *@

<div class="row"> 
    <div class="col-md-8">
        <div>
            <h1>
                Video Recepies
            </h1>
            <p>
                Video recepies are a great way to follow along
            </p>
        </div>
        <div>
            <iframe width="700" height="400" src="https://www.youtube.com/embed/u54aQPzwbWc" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>

        

    </div>

    <div class="col-md-4">
        <div>
            <h1>Time Table</h1>
        </div>
        <div style="background-color:;  min-width:400px;">
            
            <div>
                <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
                <div style="display: inline-block;">
                    <p>Recepie Name</p>
                    <p >15 minutes</p>
                </div>
            </div>

            <div>
                <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
                <div style="display: inline-block;">
                    <p>Recepie Name</p>
                    <p >15 minutes</p>
                </div>
            </div>
            <div>
                <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
                <div style="display: inline-block;">
                    <p>Recepie Name</p>
                    <p >15 minutes</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
    <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
    <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
    <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
    <img src="../Images/farhad-ibrahimzade-HhbcIhf9vho-unsplash.jpg" style="display: inline-block;" width="100px" height="100px"/>
</div>





