@{
    Layout = "_SignInLayout";
}

<div class="row" style="padding: 200px 250px 100px 250px;">
    <div class="col-md-6 col-sm-12" style="background-color: black; border-radius: 10px 0px 0px 10px ;">
        <div style="padding:50px;">
            <form method="post">
                <input type="text" placeholder="Email" class="form-control w-75" name="Email" required/><br/>
                <input type="text" placeholder="Password" class="form-control w-75" name="Password" required/><br/>
                <input type="submit" class="submitBtn" style="float: center;"/>
            </form><br/>
            <p style="color:white;">or</p>
            <div class="slider" style="background-color: red; color:white; border-radius:5px; width:50%; ">
                <i class="fa-brands fa-google" style="display:inline; margin-left:5px; margin-right:5px;"></i>
                <p style="display:inline">Sign In with Google</p>
            </div>
            <br/>
            <div class="slider" style="background-color: blue; color:white; border-radius:5px; width:50%;">
                <i class="fa-brands fa-facebook" style="display:inline; margin-left:5px; margin-right:5px;"></i>
                <p style="display:inline">Sign In with facebook</p>
            </div>
            <br/><br/>
            <p style="color:white;">Create an Account <span> <a style="color: yellow;" asp-action="SignUp">SignUp</a></span></p>
        </div>
    </div>

    <div class="col-md-6" style="background-color: red; background-image: url('../Images/pexels-rama-khandkar-2113556.jpg'); background-size:cover; border-radius: 0px 10px 10px 0 ;" >
    </div>
</div>

