<form method="post">

    <label for="First_name">First Name</label>
    <input type="text" name="First_name" class="form-control"/>

    <label for="Last_name"> Last Name</label>
    <input type="text" name="Last_name" class="form-control"/>

    <label for="Email">Email</label>
    <input type="text" name="Email" class="form-control"/>

    <label for="Phone_number">Phone</label>
    <input type="text" name="Phone_number" class="form-control"/>

    <label for="Passwor">Password</label>
    <input type="text" name="Password" class="form-control"/>

    <input type="submit"/>

</form>